{% extends 'base.html.twig' %}

{% block title %}New Carousel{% endblock %}

{% block body %}
    <h1>Créer un nouveau caroussel</h1>

    {{ include('carousel/_form.html.twig') }}

    <a href="{{ path('carousel_index') }}" class="btn btn-info">Retour à la liste</a>
{% endblock %}
